:root {
	font-family: sans-serif;
}

.header {
	width: 90%;
	margin: 0 auto;
}

.header__title {
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
}

.form {
	border: 1px solid black;
	border-radius: 5px;
	width: 40%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.form__input-section {
	display: flex;
	margin: 10px 5px;
	align-items: center;
}
.form__input-label {
	margin-right: 5px;
}
.form__input {
	flex: 1 1 auto;	
	padding: 5px;
}
.form__send-button {
	background-color: aquamarine;
	border: none;
	border-radius: 5px;
	margin: 5px;
	padding: 10px 0;
}
.form__response {
	text-align: center;
}